*,
*::before,
*::after {
  box-sizing: content-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "DM Sans", sans-serif;
  background-color: #ffffff;
  margin: 0 auto;
  max-width: 1283px;
}

header {
  display: flex;
  justify-content: center;
}
header .content {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 100%;
  height: 440px;
  background-color: #e13535;
}
header .content .promotion {
  display: flex;
  justify-content: center;
}
header .content .promotion .watch {
  margin-top: 10px;
  margin-left: -155px;
  width: 100px;
  height: 100px;
}
header .content .promotion .text-promotion {
  position: absolute;
  margin-top: 35px;
  margin-left: -55px;
  font-size: 30px;
  text-transform: uppercase;
}
header .content .promotion .text-promotion .first,
header .content .promotion .text-promotion .two {
  display: block;
}
header .content .promotion .text-promotion .first {
  color: #fff500;
  font-weight: 700;
}
header .content .promotion .text-promotion .two {
  color: #ffffff;
  font-weight: 400;
  margin-top: -12px;
}
header .content .promotion .balloon {
  margin-top: 20px;
  margin-left: 140px;
  position: absolute;
  font-size: 10px;
  text-transform: uppercase;
  color: #ffffff;
  padding: 6px;
  background-color: #111111;
}
header .content .promotion .balloon::after {
  content: "";
  position: absolute;
  margin-top: 19px;
  margin-left: -82.5px;
  width: 0;
  height: 0;
  border-right: 17px solid transparent;
  border-top: 17px solid #111111;
  border-bottom: 0;
  border-left: 0;
}
header .content .promotion .delivery {
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 60px;
  margin-left: 180px;
  text-align: center;
  width: 66px;
  height: 66px;
  background-color: #ffffff;
  border-radius: 50px;
}
header .content .promotion .delivery .truck {
  margin-top: 12px;
  width: 20px;
  height: 20px;
  margin-left: 6px;
}
header .content .promotion .delivery .under-truck {
  font-size: 10px;
  transform: rotate(15deg);
  margin-left: -5px;
}
header .content .discount {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
header .content .discount .discount-text {
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
  margin-left: -45px;
}
header .content .discount .amount {
  display: flex;
  margin-top: -9px;
  font-size: 144px;
  line-height: 144px;
  color: #fff500;
}
header .content .discount .amount .percent {
  line-height: 60px;
  font-size: 60px;
  margin-top: 9px;
}
header .content .timer-dad {
  display: flex;
  justify-content: center;
}
header .content .timer-dad .timer {
  width: 270px;
  height: 142px;
  border: 3px solid #ffffff;
}
header .content .timer-dad .timer .timer-header {
  margin-top: 24px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 16px;
}
header .content .timer-dad .timer #countdown {
  display: flex;
  justify-content: space-between;
  margin: 10px 36px 0px 36px;
  color: #ffffff;
}
header .content .timer-dad .timer #countdown #days,
header .content .timer-dad .timer #countdown #hours,
header .content .timer-dad .timer #countdown #minutes,
header .content .timer-dad .timer #countdown #seconds {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
}
header .content .timer-dad .timer #countdown #days .under,
header .content .timer-dad .timer #countdown #hours .under,
header .content .timer-dad .timer #countdown #minutes .under,
header .content .timer-dad .timer #countdown #seconds .under {
  display: block;
  font-size: 16px;
  font-weight: 400;
}
header .content .timer-dad .timer #countdown .colon {
  font-size: 36px;
  font-weight: 400;
}

.options-and-info .underheader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin-top: 38px;
  font-size: 14px;
}
.options-and-info .underheader .actually-product {
  display: flex;
  align-items: center;
  justify-content: center;
}
.options-and-info .underheader .actually-product .actually-product-img {
  width: 20px;
  height: 20px;
}
.options-and-info .underheader .actually-product .actually-product-text {
  color: #111111;
  margin-left: 7px;
  text-transform: uppercase;
}
.options-and-info .underheader .info {
  display: flex;
  align-items: center;
  margin-top: 5px;
}
.options-and-info .underheader .info .info-img {
  width: 20px;
  height: 20px;
}
.options-and-info .underheader .info .info-text {
  color: #000000;
  margin-left: 7px;
}
.options-and-info .options {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 10px;
}
.options-and-info .options label {
  margin-right: 7px;
}

#productContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 60px;
}
#productContainer .cart {
  padding: 15px;
  border: 1px solid #dadada;
}
#productContainer .cart .pieces-and-saves {
  display: flex;
  flex-direction: column;
  align-items: start;
  font-size: 13px;
}
#productContainer .cart .pieces-and-saves .pieces {
  display: flex;
  justify-content: center;
  align-items: center;
}
#productContainer .cart .pieces-and-saves .pieces .image-cartplus {
  width: 20px;
  height: 31px;
  margin-right: 3px;
}
#productContainer .cart .pieces-and-saves .pieces .pieces-text {
  color: #222222;
  font-weight: 400;
}
#productContainer .cart .pieces-and-saves .saves {
  margin-top: 8px;
  color: #e13535;
  border: 1px solid #e13535;
  padding: 8px;
}
#productContainer .cart .product-image {
  margin-top: 20px;
  margin-bottom: 20px;
}
#productContainer .cart .prices {
  display: flex;
  margin-bottom: 6px;
}
#productContainer .cart .prices .final-price {
  color: #e13535;
  font-size: 18px;
  font-weight: 700;
}
#productContainer .cart .prices .base-price {
  margin-left: 6px;
  line-height: 25px;
  color: #222222;
  font-weight: 400;
  font-size: 14px;
  text-decoration: line-through;
}
#productContainer .cart .product-link {
  text-decoration: none;
}
#productContainer .cart .product-link .product-name {
  color: #222222;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 6px;
}
#productContainer .cart .producer-name {
  color: #adadad;
  font-size: 14px;
  font-weight: 400;
}

@media (max-width: 380px) {
  #productContainer {
    gap: 13px;
  }
  #productContainer .cart {
    width: 100px;
  }
  #productContainer .cart .product-image {
    width: 100px;
  }
  #productContainer .cart .prices .final-price {
    font-size: 14px;
    line-height: 14px;
  }
  #productContainer .cart .prices .base-price {
    font-size: 10px;
    line-height: 16px;
  }
}
@media (max-width: 450px) and (min-width: 380px) {
  #productContainer .cart {
    width: 140px;
  }
  #productContainer .cart .product-image {
    width: 140px;
  }
}
@media (max-width: 599px) and (min-width: 450px) {
  #productContainer .cart {
    width: 170px;
  }
  #productContainer .cart .product-image {
    width: 170px;
  }
}
@media (min-width: 450px) {
  .options-and-info .underheader {
    align-items: center;
  }
}
@media (min-width: 600px) {
  #productContainer .cart .product-image {
    width: 220px;
    height: 242px;
  }
}
@media (min-width: 800px) {
  #productContainer .cart .product-image {
    width: 250px;
    height: 242px;
  }
}
@media (min-width: 890px) {
  header .content {
    flex-direction: row;
    justify-content: space-around;
    height: 220px;
  }
  header .content .promotion {
    justify-content: start;
  }
  header .content .promotion .watch {
    position: absolute;
    margin-top: 21px;
    margin-left: -200px;
    width: 186px;
    height: 186px;
  }
  header .content .promotion .text-promotion {
    margin-top: 46px;
    margin-left: -180px;
    font-size: 50px;
  }
  header .content .promotion .balloon {
    margin-top: 40px;
    margin-left: 50px;
  }
  header .content .promotion .delivery {
    margin-top: 160px;
    margin-left: 80px;
  }
  header .content .timer-dad .timer {
    position: absolute;
    margin-top: 38px;
    margin-left: 180px;
    width: 233px;
  }
  header .content .discount {
    position: absolute;
    margin-top: 38px;
    margin-left: 100px;
  }
  #productContainer .cart {
    padding: 20px;
  }
  #productContainer .cart .pieces-and-saves {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  #productContainer .cart .pieces-and-saves .saves {
    margin-top: 0px;
  }
  #productContainer .cart .product-image {
    width: 264px;
    height: 242px;
  }
}
@media (min-width: 1255px) {
  header .content {
    display: block;
    margin-top: 60px;
    width: 1276px;
    height: 220px;
  }
  header .content .promotion .watch {
    position: absolute;
    margin-top: 21px;
    margin-left: 32px;
  }
  header .content .promotion .text-promotion {
    margin-top: 46px;
    margin-left: 107px;
    font-size: 60px;
  }
  header .content .promotion .text-promotion .two {
    margin-top: -17px;
  }
  header .content .promotion .balloon {
    margin-top: 36px;
    margin-left: 387px;
    font-size: 24px;
    padding: 10px;
  }
  header .content .promotion .balloon::after {
    margin-top: 40px;
    margin-left: -193.8px;
  }
  header .content .promotion .delivery {
    margin-top: 130px;
    margin-left: 449px;
    width: 106px;
    height: 106px;
  }
  header .content .promotion .delivery .truck {
    width: 37px;
    height: 37px;
    margin-left: 12px;
  }
  header .content .promotion .delivery .under-truck {
    margin-top: -7px;
    font-size: 15px;
  }
  header .content .timer-dad .timer {
    position: absolute;
    margin-top: 38px;
    margin-left: 901px;
    margin-right: 42px;
    width: 333px;
  }
  header .content .discount {
    position: absolute;
    margin-top: 38px;
    margin-left: 620px;
  }
  .options-and-info .underheader {
    flex-direction: row;
    justify-content: space-between;
  }
  .options-and-info .underheader .info {
    margin-top: 0px;
  }
  .options-and-info .options {
    justify-content: start;
    margin-left: 2px;
  }
}